.normal {
  --color: #a8a878;
  --background: #a8a878;
  border-color: #a8a878;
}

.fire {
  --color: #f08030;
  --background: #f08030;
  border-color: #f08030;
}

.water {
  --color: #6890f0;
  --background: #6890f0;
  border-color: #6890f0;
}

.electric {
  --color: #f8d030;
  --background: #f8d030;
  border-color: #f8d030;
}

.grass {
  --color: #78c850;
  --background: #78c850;
  border-color: #78c850;
}

.ice {
  --color: #98d8d8;
  --background: #98d8d8;
  border-color: #98d8d8;
}

.fighting {
  --color: #c03028;
  --background: #c03028;
  border-color: #c03028;
}

.poison {
  --color: #a040a0;
  --background: #a040a0;
  border-color: #a040a0;
}

.ground {
  --color: #e0c068;
  --background: #e0c068;
  border-color: #e0c068;
}

.flying {
  --color: #a890f0;
  --background: #a890f0;
  border-color: #a890f0;
}

.psychic {
  --color: #f85888;
  --background: #f85888;
  border-color: #f85888;
}

.bug {
  --color: #a8b820;
  --background: #a8b820;
  border-color: #a8b820;
}

.rock {
  --color: #b8a038;
  --background: #b8a038;
  border-color: #b8a038;
}

.ghost {
  --color: #705898;
  --background: #705898;
  border-color: #705898;
}

.dragon {
  --color: #7038f8;
  --background: #7038f8;
  border-color: #7038f8;
}

.dark {
  --color: #705848;
  --background: #705848;
  border-color: #705848;
}

.steel {
  --color: #b8b8d0;
  --background: #b8b8d0;
  border-color: #b8b8d0;
}

.fairy {
  --color: #ee99ac;
  --background: #ee99ac;
  border-color: #ee99ac;
}
